body{
    background-color: #ccc;
    margin: 0;
    font-family: sans-serif;
}

.background-home{
    border: 1px solid transparent;
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-position: right center;
    height: 600px;
}

.nav {
    text-align: right;
}

.navegation-list li{
    display: inline-block;
    list-style: none;
}

.navegation-list li a{
    color: white;
    display: block;
    background-color: rgba(0, 0, 0, 0.34);
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    margin: 0 5px;
}

.last-item{
    margin-right: 25px;
}

.navegation-list li a:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.text-introduce{
    width: 60%;
    margin: 10% auto;
}

.text-introduce h1, p{
    color: #fff;
}

.text-introduce h1{
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    text-shadow: 3px 3px 3px #333;
}

.text-introduce p{
    font-size:18px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-bottom: 1px solid white;
    text-align: center;
    margin: auto;
    width: 60%;
}

.text-introduce h1::selection, p::selection{
    background-color: black;
}

main{
    width:80%;
    margin: auto;
    box-sizing: border-box;
}

.content-block{
    border: 1px solid transparent;
    overflow: auto;
    background-color: white;
    margin-top: 25px;
}

.card{
    width: 30%;
    height: 80%;
    float: left;
    margin-top: 1.5%;
    margin-left: 2.2%;
    margin-bottom: 1.5%;
    border: 2px solid black;
}

.special-case-one{
    margin-right: 1.6%;
}

.card p{
    background-color: #333;
    padding: 15px;
    margin: 0;
    text-transform: uppercase;
    border-top: 2px solid black;
}

.card img{
    display: block;
    width: 100%;
}

.content-block::after{
    clear: both;
}

.content-block-two{
    box-sizing: border-box;
    border: 1px solid transparent;
    overflow: auto;
    background-color: white;
    margin-top: 25px;
    padding-bottom: 2%;
}

.content-block-two h2{
    background-color: #333;
    margin: 15px 10px;
    padding: 10px;
}

.content-block-two p{
    text-indent: 10px;
    color: black;
    margin: 15px 10px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

p::selection{
    background-color: blue;
}

@media (max-width: 860px){

    .background-home{
        border: 1px solid transparent;
        background-image: url(../imagens/background.jpg);
        background-size: cover;
        background-position: right center;
        height: 700px;
    }
    
    .card{
        width: 95%;
        height: 80%;
        float: left;
        margin-top: 1.5%;
        margin-left: 2%;
        margin-bottom: 1.5%;
        border: 2px solid black;
    }


}

@media (max-width: 635px){

    .nav {
        text-align: center;
    }
    
    .navegation-list li{
        display: block;
        list-style: none;
    }
    
    .navegation-list li a{
        color: white;
        display: block;
        background-color: rgba(0, 0, 0, 0.34);
        padding: 15px;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid white;
        margin: 0 26% 0 17%;
    }

    .last-item{
        margin-right: 0;
    }

}